.client-success-stories-bg {
  background-color: #212121;
}
section.client-success-stories-cont {
  height: 100%;
  background-color: #212121;
  padding: 40px 40px 10vh 40px !important;
}

.client-success-stories-cont .title-cont h1 {
  color: var(--yellow);
}
.client-success-stories-cont .title-cont p {
  color: white;
}


.client-slider-cont {
  .left-arrow,
  .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 5;
  }
  .left-arrow {
    left: 58.5%;
  }
  .right-arrow {
    right:2.5%;
  }
  
.property-client {
  display: flex !important;
  align-items: center;
  /* justify-content: space-between; */
}

 .property-img {
  height: 50vh;
  width: 55%;
  max-width: 100%;
  border-radius: 5px;
  margin-right: 15px;
  overflow: hidden;
  display: flex; 
  align-items: center;
  justify-content: center;
}
.property-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.client-card {
  position: relative;
  width: 32%;
  padding: 22px;
  margin: 0 auto;
  background-color: #fbfbfb;
  border: 1px solid #c1c1c1;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.client-card * {
  font-family: "Inter";
}
.client-card .icon-details {
  display: flex;
}
.client-card .icon {
  height: 53px;
  border-radius: 50%;
  margin-right: 9px;
  overflow: hidden;
}
.client-card .icon img {
  height: 100%;
  width: 100%;
}
.client-card .icon-details {
  margin-bottom: 10px;
}
.client-card .details h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
}
.client-card .details h3 {
  font-size: 12px;
  font-weight: 500;
}
.client-card p {
  font-size: 14px;
  line-height: 1.5rem;
}

/* Pagination Dots */
.slick-dots {
  bottom: -7vh;
}
.slick-dots li {
  margin: 0 1px;
}
.slick-dots li button:before {
  font-size: 11px;
  /* opacity: .25; */
  color: #777777;
  transition: all 0.3s ease;
}
.slick-dots .slick-active button:before {
  color: var(--dark-blue);
}
}

/* Responsive Styles */
@media (max-width: 960px) {
  .client-success-stories-cont {
    height: auto;
    padding-bottom: 85px !important;
  }
  .client-slider-cont {
    .left-arrow,
    .right-arrow {
      visibility: hidden;
    }

  .property-img {
    height: 40vh;
    width: 55%;
    aspect-ratio: 5/3;
    max-width: 100%;
    margin-right: 0px;
  }

  .client-card {
    width: 40%;
  }

  .client-card .details h2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
  }
  .client-card .details h3 {
    font-size: 11px;
    font-weight: 500;
    line-height: 1rem;
  }
  .client-card p {
    font-size: 12px;
    line-height: 1.2rem;
    /* max-height: calc(1.2rem * 5);
    min-height: calc(1.2rem * 5); */
  }
  
}
}

@media (max-width: 480px) {
  .client-success-stories-cont {
    padding-bottom: 40px;
  }
  .client-slider-cont {
    .property-client {
      flex-direction: column;
      align-items: center;
    }
    .property-img {
      margin-bottom: 15px;
      height: 30vh;
      width: 100%;
      margin-right: 0px;
    }
    .client-card {
      width: 100%;
    }
    .client-card .details h2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
    }
    .client-card .details h3 {
      font-size: 11px;
      font-weight: 500;
      line-height: 1rem;
    }
  } 
  
}
