.faq-container {
    align-items: center;
    justify-content: left;
    background: linear-gradient(180deg, #ffffff 0%, #F5F9FA 100%);
    height: 50vh;
}

.faq-text-section {
    width: 100%; 
    padding: 50px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center; /* Vertically center content */
    justify-content: left; /* Ensure text is left-aligned */
    height: 100%; /* Ensure it takes the full height of the container */
}
  
.faq-text-section h2 {
    /* Properties */
    height: 84px;
    font-size: 56px;
    line-height: 150%;
    letter-spacing: -0.011em;
    font-weight: 500;
    color: #1A3D8F;
}

.faq-search-bar-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 4vh 6vh 0 6vh;
}

.faq-search-bar {
    width: 100%;
    padding: 8px 32px 8px 8px; /* Add padding to make space for the icon */
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.faq-search-bar:focus {
    outline: none;
    border-color: #1A3D8F;
}

.faq-search-icon {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.faq-search-icon img {
    width: 16px;
    height: 16px;
    /* Add additional styles as needed */
}

.faq-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin: 2vh 6vh 10vh 6vh;
}

.faq-card {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #F5F9FA;
    border: none;
    border-radius: 8px;
    padding: 20px;
    transition: background 0.2s;
}

.faq-card:hover {
    background-color: #EFEFEF;
}

.faq-card-title {
    font-size: 14px; /* Update font size */
    font-weight: 600;
    color: #545454; /* Update font color */
    line-height: 1.2rem;
    margin-bottom: 2vh;
}

.faq-left-main-section {
    width: 25%;
    order: 1; /* Left section first */
  }

.faq-right-main-section {
    order: 2; /* Right section second */
    width: 75%;
}

.faq-card-questions {
    list-style-type: none; /* Remove bullets for the questions */
    padding: 0;
    margin: 0;
}

.question-item {
    list-style-type: none; /* Remove bullets for the title */
    padding: 0;
    margin: 0;
}

.faq-card-questions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.faq-card-question {
    font-size: 13px; /* Update font size */
    color: #646464; /* Update font color */
    line-height: 1.2rem;
    margin-bottom: 1.5vh;
}

.faq-question-button {
    background: none;
    border: none;
    color: #646464; /* Match question text color */
    font-size: 13px; /* Match question font size */
    text-align: left;
    cursor: pointer;
    padding: 0;
}

.faq-question-button:hover {
    text-decoration: underline; /* Add underline on hover */
}

.faq-question-button:focus {
    outline: none; /* Remove default focus outline */
    text-decoration: underline;
    color: #1A3D8F; /* Match hover color */
}

/* Container for the body */
.faq-body-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
}

.faq-title-button {
    background: none;
    border: none;
    font-size: 13px;
    font-weight: bold;
    color: #3D3C3C; /* Title color */
    text-align: left;
    cursor: pointer;
    padding: 10px 0;
    margin: 8px 0;
}

.faq-title-button:hover {
    text-decoration: underline;
}

.faq-questions-list {
    list-style: none;
    padding-left: 0;
    margin: 10px 0 12px 0;
}

.faq-question-item {
    color: #646464;
    font-size: 13px;
    margin: 2vh 0;
    padding-left: 5px 0;
    list-style: none;
    cursor: pointer;
}

.faq-section-title {
    font-size: 16px;
    font-weight: 600;
    color: #3D3C3C;
    margin: 3vh 0 1vh 0;
    cursor: pointer;
    transition: color 0.2s;
    line-height: 1.5rem;
}

.faq-question-item.highlighted {
    color: #1A3D8F;
}

.faq-inner-layout {
    display: flex;
    margin: 6vh 6vh;
}

.left-main-section {
    flex: 0 0 40%;
    max-width: 30%;
    min-width: 280px;
    padding: 0 0 32px 0;
}

.right-main-section {
    flex: 1;
    padding: 0;
    background: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 2.6vh;
}

.faq-selected-question {
    font-size: 2rem;
    color: #343434;
    min-height: 2em;
    margin: 20px 50px;
    font-weight: 600;
}

.faq-selected-answer{
    font-size: 12px;
    color: #343434;
    min-height: 2em;
    margin: 20px 50px;
    font-weight: 600;
}

@media (max-width: 960px) {
    .faq-container {
      padding: 0;
      background: linear-gradient(180deg, #ffffff 60%, #F5F9FA 100%);
      height: auto;
    }

    .faq-text-section {
      padding: 4vh 7vh 16vh;
    }

    .left-main-section {
      max-width: 100%;
      margin: 0;
      width: 100%;
      padding: 0;
    }
    
    .right-main-section {
      width: 100%;
      padding: 0;
      margin: 4vh 0 4vh 0;
    }

    .faq-text-section h2 {
      /* Properties */
      width: auto;
      height: auto;
      font-size: 28px
    }

    .faq-cards-container {
      flex-direction: column;
      margin: 2vh 6vh 10vh 6vh;
    }

    .faq-card {
      height: 20vh;
    }

    .faq-inner-layout {
      display: flex;
      margin: 3vh 6vh 6vh 6vh;
      flex-direction: column;
    }

    .faq-left-main-section {
      width: 100%;
      order: 2; /* Left section second */
    }

    .faq-right-main-section {
      width: 100%;
      order: 1; /* Right section first */
      margin-bottom: 4vh;
    }

    .faq-selected-question {
      font-size: 24px;
      min-height: 0; 
      margin: 20px 0;
    }

    .faq-selected-answer {
      font-size: 12px;
      min-height: 0; 
      margin: 20px 0;
    }
}

@media (max-width: 480px) {
.left-main-section {
      max-width: 100%;
      margin: 0;
      width: 100%;
      padding: 0;
    }
    
    .right-main-section {
      width: 100%;
      padding: 0;
    }

    .faq-text-section h2 {
        font-size: 28px;
        height: auto;
    }

    .faq-cards-container{
        display: block;
    }

    .faq-left-main-section, .faq-right-main-section {
        width: 80%;
        padding-bottom: 10px;
    }

    .faq-selected-question{
        margin: 30px 0;
    }
    

    
}