.faqs {
  padding: 20px;
  background-color: #f9f9f9;
}

.faqs h2 {
  font-size: 24px;
  font-weight: 500;
  color: var(--yellow);
  margin-bottom: 20px;
}

.faqs-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.faq-item * {
  font-family: 'Inter', sans-serif;
}

.faq-question {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.faq-icon {
  font-size: 14px;
  margin-right: 12px;
}

.faq-answer {
  margin-top: 10px;
  font-size: 14px;
}

.view-more-faqs {
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
  color: #1a3d8f;
  text-decoration: none;
  font-weight: 500;
}

.view-more-faqs:hover {
  text-decoration: underline;
}
