section.faqs {
  padding: 40px 30px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.faqs h2 {
  font-size: 24px;
  font-weight: 500;
  color: var(--yellow);
  margin-bottom: 20px;
}

.faqs-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.faq-item * {
  font-family: 'Inter', sans-serif;
}

.faq-question {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.faq-icon {
  font-size: 14px;
  margin-right: 12px;
}

.faq-answer {
  margin: 2vh 1vh 0vh 3.2vh;
  font-size: 14px;
}

.view-more-faqs {
  display: inline-block;
  margin-top: 5vh;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: var(--dark-blue);
  text-decoration: none;
  font-weight: 500;
  align-self: flex-end; /* Align the link to the right */
}

.view-more-faqs span {
  margin-left: 5px;
}

@media (max-width: 960px){
  .faq-answer {
    margin: 2vh 1vh 0vh 3.5vh;
    font-size: 14px;
  } 
}