section.footer-cont {
  padding: 0;
  background-color: #212121;
  * {
    font-family: 'Inter', sans-serif;
    color: white;
  }
  a {
    font-size: 12px;
    font-weight: 400;
  }

  .explore-links a:hover,
  .learn-links a:hover{
    text-decoration: underline;
  }
}

.contact-explore-learn-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 90px;
  padding: 40px;
  justify-content: flex-start;

  h3 {
    font-size: 14px;
    font-weight: 600;
  }

  .logo-contact {
    display: flex;
    gap: 32px;
    padding-right: 90px;
    border-right: 1px solid #4A4A4A;

    img {
      height: 37px;
    }

    h2 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 2px;
    }
    p {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 6px;
    }

    .socmed {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 27px;
    }
  }

  .link-cont {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 11px;
  }
  .col-1 , .col-2{
    display: flex;
    flex-direction: column;
    gap: 11px;
  }

  .learn-links {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-right: 100px;
  }

}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 21px 40px;
  border-top: 1px solid #4A4A4A;

  p {
    font-size: 13px;
  }

  .left-side {
    display: flex;
    gap: 35px;
    align-items: center;
  }
}


/* Responsive Styles */
@media (max-width: 1000px) {

  .contact-explore-learn-cont {
    flex-wrap: wrap;
    gap: 45px;
    justify-content: space-between;

    .logo-contact {
      flex-basis: 100%;
      border-right: none;
      border-bottom: 1px solid #4A4A4A;
      padding-bottom: 45px;
    }

  }

}

@media (max-width: 480px) {

  .contact-explore-learn-cont {

    .logo-contact {
      flex-direction: column;
      gap: 32px;

      img {
        width: fit-content;
      }
    }
  }

  .footer-bottom {
    flex-direction: column;
    gap: 20px;
  }

}
