section.footer-cont {
  padding: 0;
  background-color: #212121;
  * {
    font-family: 'Inter', sans-serif;
    color: white;
  }
  a {
    font-size: 12px;
    font-weight: 400;
  }
}



/* Responsive Styles */
@media (max-width: 1000px) {


}

@media (max-width: 480px) {

}
