*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  color: #343434;
  max-width: 1440px; /* or 1200px */
  margin: 0 auto;
  padding: 0 2rem;
}

.no-transitions * {
  transition: none !important;
}

.no-scroll {
  overflow: hidden;
}

/* NavBar */
.navbar {
  /* position: fixed; */
  display: flex;
  align-items: center;
  padding: .8125rem 2.5rem;
  height: 4.25rem;
  max-width: 1440px; 
  /* margin: 0 auto; */
  padding: 0 40px;
  background: white;
}

.navbar.dark-mode{
  background: #343434;
}

.menu-toggle {
  font-size: 24px;
  display: none;
  background: none;
  color: #1A3D8F;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}
.menu-toggle.close {
  color: white; /* Change color to indicate close state */
  transform: rotate(90deg); /* Optional rotation for visual feedback */
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  width: 100%;
  z-index: 999;
}

.nav-links li {
  padding: 0 .625rem;
  width: 7.5rem;
  text-align: center;
  color: #343434;
  /* transition: all 0.5s; */
}
.nav-links li:last-child {
  padding: 0;
  margin-left: auto; 
}

.nav-links a {
  text-decoration: none;
  font-size: 14px;
  color: #343434;
  transition: color 0.3s, border 0.3s;
}
.nav-links a:hover {
  color: rgba(225, 160, 0, 0.8);
  border-bottom: 1.5px solid rgba(225, 160, 0, 0.8);
  padding-bottom: 3px;
}
.nav-links a.active { 
  font-weight: 600;
  color: #E1A000;
  border-bottom: 2px solid #E1A000;
  padding-bottom: 3px;
}

.inquire-btn{
width: 8rem;
height: 2.625rem;
background: #E1A000;
font-size: 12px;
}

/* Initial state when element is entering */
.nav-animation-enter {
  opacity: 0;
  transform: translateY(-20px);
}

/* Active state during entering transition */
.nav-animation-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease, transform 300ms ease;
}

/* Initial state when element is exiting */
.nav-animation-exit {
  opacity: 1;
  transform: translateY(0);
}

/* Active state during exiting transition */
.nav-animation-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms ease, transform 300ms ease;
}

/* Responsive styles */
@media all and (max-width: 960px)  {
  
  .navbar{
    justify-content: space-between;
    transition: background 0.3s ease;
    z-index: 999;
  }

  .menu-toggle {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 4.25rem;
    left: 0;
    visibility: hidden;
    transition: visibility 0.3s ease, background 0.3s ease;
  }
  .nav-links.open{
    visibility: visible;
    background: #343434;
  }
  .nav-links.open li{
    opacity: 1; 
    transform: translateY(0);
  }
  
  .nav-links li {
    width: 100%;
    padding: 18px 0;
    text-align: center;
    opacity: 0; /* Initially invisible */
    font-size: 16px;
    transform: translateY(-10px); 
    transition: opacity 0.3s ease, transform 0.3s ease ;
  }

  .nav-links a{
    color: white;
    font-size: 16px;
  }
  .nav-links a:hover {
    border: none;
  }
  .nav-links a.active {
    font-weight: 600;
    color: #E1A000;
    border: none;
  }
  .nav-links li:has(a.active) {
    background: white;
  }

  .nav-links li:last-child {
    padding: 0;
    margin-top: auto; 
  }

  .navbar .inquire-btn{
    width: 100%;
    border-radius: 0;
    padding: 18px;
    height: auto;
    font-size: 16px;
  }


}

@media (max-width: 480px) {
  body{
  margin: 0 auto;
  padding: 0 0rem;
} 
} 