.sample-computation-pg {

  .hero-cont{
    height: 232px;
    padding: 40px;
    background: linear-gradient(0deg, #F5F9FA 0%, #FFFFFF 100%);
    
    h1 {
      margin: auto 0;
      color: var(--dark-blue);
    }
  }

  .label-subtext{
    display: flex;
    flex-direction: column;
  }
  .subtext{
    font-style: italic;
    font-size: 10px;
  }
}

.sample-computation-table {
  margin-top: 20px;
  overflow-x: auto;
  padding: 40px;

  * {
    font-family: "Inter", sans-serif;
  }
}

.sample-computation-table table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  border: none;
}

.sample-computation-table th,
.sample-computation-table td {
  padding: 12px 15px;
  border: none; 
}

.sample-computation-table th {
  background-color: #f5f9fa;
  font-weight: 500;
}

.sample-computation-table th span {
  font-size: 10px;
  font-weight: 300;
  font-style: italic;
}

.sample-computation-table tbody tr:nth-child(even) {
  background-color: #f5f9fa;
}

.sample-computation-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}


.sample-computation-table td {
  color: #555;
  font-size: 14px;
}

/* Mobile View */
.mobile-computation {
  display: none;
}

@media (max-width: 768px) {
  .sample-computation-table {
    display: none; /* Hide table on smaller screens */
  }

  .mobile-computation {
    display: block; /* Show mobile view on smaller screens */
    padding: 20px;

    * {
      font-family: 'Inter', sans-serif;
    }
    
  }

  .dropdown-section {
    margin-bottom: 20px;
  }

  .dropdown-section label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .dropdown-section select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .computation-details,
  .remaining-balance-details {
    margin-bottom: 20px;
  }

  .remaining-balance-details ul {
    list-style: none;
    padding: 0;
  }

  .remaining-balance-details ul li {
    margin-bottom: 5px;
  }
}

.sample-computation-pg {

.dropdown-placeholder {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 5px 0 20px 0;
}

.dropdown-placeholder select {
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  background-color: #fff;
  appearance: none; /* Remove default dropdown arrow */
  cursor: pointer;

  :hover {
    border: none;
  }
}

.dropdown-placeholder:focus-within {
  outline: none;
  border-bottom: 2px solid var(--dark-blue);
}

.dropdown-placeholder .dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none; /* Prevent interaction with the arrow */
}

.dropdown-placeholder .dropdown-arrow svg {
  fill: #616161;
  width: 12px;
  height: 7px;
}

.inquire-btn {
  width: 100%;
}

}

.computation-details {
  border-radius: 8px;
  margin-bottom: 20px;
}

.computation-details p {
  display: flex;
  justify-content: space-between; 
  padding: 10px;
  font-size: 14px;
  background-color: #ffffff; 
}

.computation-details p:nth-child(even) {
  background-color: #F5F9FA; 
}

.computation-notes {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  gap: 15px;
  font-size: 12px;
  
}
.computation-notes.disclaimer {
  display: inline-block;
gap: 0;
color: #545454;
}
.computation-notes.bsp {
  display: inline-block;
gap: 0;
margin: 0;
}

