*, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body{
  position: relative;
  overflow-x: hidden;
  height: 100%;
  color: #343434;
}

button{
  cursor: pointer;
  border: none;
  border-radius: .3125rem;
  color: white;
}

select {
  background: #F8F8F8;
  border: solid 1px #C2C2C2;
  border-radius: 4px;
  padding: 2px 10px;
  -moz-appearance: none;
            /* for Safari, Chrome, Opera */
            -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
select:focus-visible {
  outline: none;
}
::placeholder {
  color: #707070;
}

.checkb-wrapper {
  display: flex;
  align-items: center;
}
input[type="checkbox"] {
    background-color: #F8F8F8;
    border: solid 1px #C2C2C2;
    border-radius: 2px;
    height: 16px;
    width: 16px;
    -webkit-appearance: none;
    margin-right: 3px;
}

.wrapper.input[type="checkbox"] {
}

.no-transitions * {
  transition: none !important;
}

.navbar .inquire-btn{
width: 8rem;
height: 2.625rem;
background: #E1A000;
font-size: 12px;
}

/* Initial state when element is entering */
.nav-animation-enter {
  opacity: 0;
  transform: translateY(-20px);
}

/* Active state during entering transition */
.nav-animation-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease, transform 300ms ease;
}

/* Initial state when element is exiting */
.nav-animation-exit {
  opacity: 1;
  transform: translateY(0);
}

/* Active state during exiting transition */
.nav-animation-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms ease, transform 300ms ease;
}

/* Responsive styles */
@media (max-width: 960px) {

  .navbar .inquire-btn{
    width: 100%;
    border-radius: 0;
    padding: 18px;
    height: auto;
    font-size: 16px;
  }


}

@media (max-width: 480px) {

} 